* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(to right bottom, #1a1a1a, #0d0d0d);
  color: #fff;
  min-height: 100vh;
}
